@import "src/styles/variables";
@import "src/styles/buttons";

.wrapper {
  position: absolute;
  top: 5%;
  left: 25%;

  width: 50%;
  height: 90%;

  border-radius: $borderRadius ;
  box-shadow: $shadow;

  background-color: white;

  overflow-y: auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $primaryFont;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}
