@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', sans-serif;
$shadow: 0 0 20px -3px rgba(0,0,0,0.5);
$shadowLight: 0 0 20px -10px rgba(0,0,0,0.5);
$borderRadius: 5px;
$borderRadius50: 50%;
